<ion-header>

  <ion-navbar color="tijuca">
    <ion-title>Relatórios</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <!-- Quando for verdadeiro ele vai exibir os dois botões, e o adicionar vai sumir -->
  <button *ngIf="editando" ion-button outline (click)="atualizar()">Atualizar</button>
  <button *ngIf="editando" ion-button outline (click)="cancelarEditar()">Cancelar</button>

  <ion-card *ngFor="let storage of storages">
    <ion-card-header>
      <span id="titulo">Despesas</span>
    </ion-card-header>
    <ion-card-header>
      <span>Despesas: {{storage.despesa}} </span>
      <br>
      <span>Data: {{storage.data}}</span>
      <br>
      <span>Valor: {{storage.valor}}</span>
    </ion-card-header>

    <ion-row>
      <ion-col>
        <!-- Quando ele clicar no Editar ele vai saber qual Storage editar (storge)= ao objeto storage do *ngFor-->
        <button ion-button icon-left clear small (click)="editar(storage)">
          <ion-icon name="create"></ion-icon>
          <div>Editar</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="deletar(storage)">
          <ion-icon name="trash"></ion-icon>
          <div>Deletar</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>