<ion-header>

  <ion-navbar color="tijuca">
    <ion-title>Relatórios</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <!-- Quando for verdadeiro ele vai exibir os dois botões, e o adicionar vai sumir -->
  <button *ngIf="editando" ion-button outline (click)="atualizar()">Atualizar</button>
  <button *ngIf="editando" ion-button outline (click)="cancelarEditar()">Cancelar</button>

  <ion-card *ngFor="let storage of storages">
    <ion-card-header>
      <span id="titulo">{{storage.title}}</span>
    </ion-card-header>

    <ion-card-content>
      <span id="local">{{storage.despesas}}</span>
      <span id="valor">{{storage.dataDespesas}} </span>
      <span id="horario"> {{storage.valorDespesas}}</span>
      <span id="horario"> {{storage.fornecedorOrigem}}</span>
      <span id="horario"> {{storage.tipoAbastecimento}}</span>
    </ion-card-content>
  </ion-card>

</ion-content>